SCFramework/SCFramework.xcworkspace/xcuserdata/richervc1.xcuserdatad
SCFramework/SCFramework.xcodeproj/xcuserdata/richervc1.xcuserdatad
SCFramework/SCFramework.xcworkspace/xcshareddata
xcschememanagement.plist
SCFramework/Pods
SCFramework/.idea
